<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.manriquetavi.gestorapp">

    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature
        android:name="android.permission.CAMERA"
        android:required="true" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.GestorApp">
        <activity
            android:name=".LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".AddProductActivity"
            android:exported="false"
            android:label="Add Products"
            android:parentActivityName=".ReportActivity"
            android:windowSoftInputMode="adjustResize"/>
        <activity
            android:name=".ReportActivity"
            android:exported="false"
            android:label="Report products"
            android:parentActivityName=".VisitActivity" />
        <activity
            android:name=".VisitActivity"
            android:exported="false"
            android:label="Visit"
            android:parentActivityName=".MainActivity" />
        <!--
             TODO: Before you run your application, you need a Google Maps API key.

             To get one, follow the directions here:

                https://developers.google.com/maps/documentation/android-sdk/get-api-key

             Once you have your API key (it starts with "AIza"), define a new property in your
             project's local.properties file (e.g. MAPS_API_KEY=Aiza...), and replace the
             "YOUR_API_KEY" string in this file with "${MAPS_API_KEY}".
        -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyD0W-JWXvV7Jaq1h-42BPtzGZ_rSpVjyNA" />

        <activity
            android:name=".MapActivity"
            android:exported="false"
            android:label="@string/title_activity_map"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".AddStoreActivity"
            android:exported="false"
            android:label="Add Store"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".MainActivity"
            android:exported="false"
            android:label="@string/main_activity_label"/>
    </application>

</manifest>